---
import BlobCursorFollower from "@/components/global/BlobCursorFollower.astro";
import { AstroSeo, type AstroSeoProps } from "@astrolib/seo";
import BaseHead from "@components/BaseHead.astro";
import BackgroundTexture from "@components/global/BackgroundTexture.astro";
import Footer from "@components/global/Footer.astro";
import Navigation from "@components/global/Navigation.astro";
import { getLangFromUrl } from "../i18n/utils";

const { pathname } = Astro.url;

type Props = {
	seo?: AstroSeoProps;
};

const { seo: seoProp } = Astro.props;

const lang = getLangFromUrl(Astro.url);



const defaultSeo: AstroSeoProps = {
	title: "ASTECH - Soluciones de IA y Automatización para Empresas",
	description:
		"ASTECH desarrolla sistemas avanzados con IA y aplicaciones inteligentes para facilitar y automatizar procesos con agentes especializados. Innovamos en tecnología para tu negocio.",
	canonical: "https://astech.dev",
	openGraph: {
		url: "https://astech.dev",
		title: "ASTECH - Soluciones de IA y Automatización para Empresas",
		description:
			"ASTECH desarrolla sistemas avanzados con IA y aplicaciones inteligentes para facilitar y automatizar procesos con agentes especializados. Innovamos en tecnología para tu negocio.",
		images: [
			{
				url: '',
				width: 1200,
				height: 630,
				alt: "ASTECH - Inteligencia Artificial y Automatización",
				type: "image/gif",
			},
			{
				url: '',
				width: 4096,
				height: 4096,
				alt: "ASTECH logo",
				type: "image/gif",
			},
		],
		site_name: "ASTECH",
	},
	twitter: {
		handle: "@astech_ai",
		site: "@astech_ai",
		cardType: "summary_large_image",
	},
	additionalMetaTags: [
		{
			name: "publisher",
			content: "ASTECH",
		},
		{
			name: "keywords",
			content: "inteligencia artificial, IA, automatización, desarrollo de apps, agentes IA, soluciones tecnológicas, innovación",
		},
	],
};

const seo = {
	...defaultSeo,
	...seoProp,
};

function cursorFollowerActive() {
	const paths = ["", "/", "/es/", "/es"];
	return paths.includes(pathname);
}
---

<html lang={lang}>
	<head>
		<BaseHead />
		<AstroSeo {...seo} />
	</head>
	<body class="bg-slate-50">
		<BackgroundTexture />
		<Navigation />
		{cursorFollowerActive() && <BlobCursorFollower />}
		<slot />
		<Footer />
	</body>
</html>
